<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<style>
.active:focus {
	background: #f834a1 !important;
}

body {
	background: url('') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
</style>

<body>
	<header th:replace="layout/layout :: header"></header>
	<hr>
	<hr>
	<hr>

	<!-- Page Content -->
	<div class="container">

		<!-- Page Heading -->
		<h1 align="center" class="my-4">Servicios mas solicitados</h1>

		<table class="table ">
			<thead>
				<tr>
					<th style="text-align: center" scope="col">Codigo</th>
					<th style="text-align: center" scope="col">Servicio</th>
					<th style="text-align: center" scope="col">Cantidad</th>
				</tr>
			</thead>
			<tbody th:each="s: ${servicios}">
				<tr>
					<td style="text-align: center" th:text="${s.codigo}"></td>
					<td style="text-align: center">
						<img  th:attr="src=@{|/images/${s.imagen}|},title=${s.imagen},alt=${s.imagen}" width="150" height="80"  class="rounded-pill" > 
						<br><label th:text="${s.nombre}" class="text-black" style="margin-left: 30px" ></label>
					</td>
					<td style="text-align: center" th:text="${cantidad}"></td>
				</tr>
			</tbody>
		</table>



	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>